<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<description>Apply WordPress Coding Standards</description>

	<!-- Only scan PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
	<arg name="cache"/>

	<ini name="memory_limit" value="256M"/>

	<!-- Check up to 20 files simultaneously. -->
	<arg name="parallel" value="20"/>

	<!-- Show sniff codes in all reports. -->
	<arg value="ps"/>

	<file>.</file>

	<!-- Compatibility sniffs -->
	<rule ref="PHPCompatibilityWP"/>

	<!-- Support older version of WP by supporting PHP 7.0+. -->
	<config name="testVersion" value="7.0-"/>

	<!-- Style sniffs -->
	<rule ref="WordPress-Core">
		<!-- Exclude a few rules. -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	</rule>

	<!-- Exclude third party code -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
